.HeroBg{
  width: 100%;
  height: 90vh;
}

.HeroBg-Container {
  position: relative;
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.HeroBg-text {
  display: grid;
  gap: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.HeroBg-button {
  width: 130px;
  height: 50px;
  display: grid;
  justify-self: center;
  align-items: center;
}