.nav-bar{
  font-family: 'Montserrat', sans-serif;
  padding: 20px 20px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.logo, .searchIcon, .shopBag, .profilePic{
  filter: invert(0%) sepia(0%) saturate(1%) hue-rotate(141deg) brightness(99%) contrast(100%);
}

.navigations,.profile-navigation{
  display: flex;
  gap: 30px;
}

.searchBox {
  display: flex;
  align-items: center;
  border: 2px solid black;
  overflow: hidden;
  padding: 0px;
  border-radius: 10px;
}

.searchBox input {
  height: 35px;
  width: 400px;
  border: none;
  padding: 10px;
}

.searchBoxandprofilenav{
  display: flex;
  align-items: center;
  gap: 20px;
}
